/* 所有的photo_drag_line开头的 */
[class^='photo_drag_line'] {
  display: flex;
  align-items: center;
}

/* top/left用rl模板 */
.photo_drag_line_top {
  /* 设置为垂直书写，块流从右到左 */
  writing-mode: horizontal-tb;
  direction: rtl;
  .text-arrow {
    animation: drag_line_top 2s linear infinite;
    & > svg {
      transform: rotate(180deg);
    }
  }
}


.photo_drag_line_left {
  /* 设置为垂直书写，块流从右到左 */
  writing-mode: sideways-lr;

  .text-arrow {
    animation: drag_line_left 2s linear infinite;
    & > svg {
      transform: rotate(-90deg);
    }
  }
}

/* right/bottom用lr模板 */
.photo_drag_line_right {
  /* 设置为垂直书写，块流从左到右 */
  writing-mode: vertical-rl;
  .text-arrow {
    animation: drag_line_right 2s linear infinite;
    & > svg {
      transform: rotate(90deg);
    }
  }
}

.photo_drag_line_bottom {
  /* 设置为垂直书写，块流从左到右 */
  writing-mode: horizontal-tb;
  direction: ltr;
  .text-arrow {
    animation: drag_line_bottom 2s linear infinite;
    & > svg {
      transform: rotate(0deg);
    }
  }
}


/* 动画中的元素容器 */
.text-arrow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-inline: 10px;
}

/* text-arrows 的子元素 p */
.text-arrow > p {
  font-size: xx-large;
  font-weight: bold;
  color: var(--mio-blue-text-border);
  /* text-shadow: 2px 2px 3px var(--mio-blue-text-light-fill); */
}

@keyframes drag_line_top {
  to {
      /* 注意：如果父容器是垂直模式，translateX(100%) 可能会产生预期外的效果。
         如果是垂直移动，应使用 translateY。 */
      transform: translateX(-100%);
  }
}

@keyframes drag_line_bottom {
  to {
      transform: translateX(100%);
  }
}

@keyframes drag_line_right {
  to {
    transform: translateY(100%);
  }
}

@keyframes drag_line_left {
  to {
    transform: translateY(-100%);
  }
}